<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeDisplayServlet</servlet-name>
        <servlet-class>controller.HomeDisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>controller.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <servlet-class>controller.CustomerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAccountServlet</servlet-name>
        <servlet-class>controller.DisplayAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductServlet</servlet-name>
        <servlet-class>controller.SortProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceFilterServlet</servlet-name>
        <servlet-class>controller.PriceFilterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeDisplayServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <url-pattern>/CustomerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAccountServlet</servlet-name>
        <url-pattern>/DisplayAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SortProductServlet</servlet-name>
        <url-pattern>/sortproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceFilterServlet</servlet-name>
        <url-pattern>/pricefilter</url-pattern>
    </servlet-mapping>
</web-app>
