/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 29, 2025, 6:41:18 PM
    Author     : ASUS
*/
.header{
    background-color: #171717;
    text-align: center;
    color:#FFFFFF;
}


.menu{
    font-size: 20px;
   
}
.menu a{
    color: #F3F2F3;
    text-decoration: none;
    margin-left: 5%;
}
